.headerForm {
    margin-block-start: 2rem;
}

.headerForm form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30rem;
}

form input {
    padding: 1rem .5rem;
    border: 1px solid lightgray;
    outline: none;
    border-radius: .5rem;
    font-size: 1rem;
}

.task-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.task-wrapper .task-tags {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.task-wrapper .task-status {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.task-wrapper .task-status select {
    padding: .5rem;
    border: .5px solid lightslategray;
    border-radius: 1rem;
    cursor: pointer;
}

.task-wrapper .task-status button {
    padding: .5rem;
    border: 1px solid black;
    border-radius: .3rem;
    cursor: pointer;
    transition: all .5s ease;
}

.task-wrapper .task-status button:where(:hover, :focus-visible):not(:active) {
    transform: scale(1.1);
    background-color: greenyellow;
}

@media (max-width: 568px) {
  .headerForm {
    margin-block-start: 1rem;
    width: 90%;
    margin-inline: auto;
  }

  .headerForm form {
    width: 100%;
    gap: 0.8rem;
  }

  form input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
  }

  .task-wrapper {
    flex-direction: column;
    gap: 1rem;
    align-items: stretch;
  }

  .task-wrapper .task-tags {
    gap: 0.5rem;
  }

    .task-wrapper .task-status {
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
    position: relative;
  }

   .task-wrapper .task-status select,
  .task-wrapper .task-status button {
    width: 100%;
  }


  .task-wrapper .task-status select {
    width: 100%;
    padding: 0.6rem;
  }

  .task-wrapper .task-status button {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
  }
}
